div.container {
  display: flex;
  justify-content: center;  
  margin-top: 5vh;
}
div.container div.quill{
  width: 700px;
}

div.container div.quill{
  width: 45%;
  height: 85vh;
}
div.container div.text{
  width:45%;
  margin-left: 2%;
  height: 91vh;
  overflow-y:scroll;
  overflow-x:hidden;
  border: 1px solid #ccc;
}